@font-face {
  font-family: " ppt";
  src: url("../public/fonts/Grandstander-ExtraBold.woff2") format(woff2),
    url("../public/fonts/Grandstander-Light\ -\ copia.ttf") format(ttf);
}

@font-face {
  font-family: " ppt2";
  src: url("../public/fonts/Grandstander-Light.woff2") format(woff2),
    url("../public/fonts/Grandstander-ExtraBold.woff2") format(woff2);
}

body {
  min-width: 220px;
  height: 100vh;
  background-image: radial-gradient(#6a68e4 30%, #6a68e4 70%, #4012e6);
  background-repeat: no-repeat;
}

.font {
  font-family: " ppt";
}

.curs {
  font-family: " ppt2";
}

#conte {
  height: 100%;
}

.top-20 {
  top: 20%;
}

.bottom-20 {
  bottom: 10% !important;
}

.z {
  overflow: hidden;

  > img {
    transition: 0.2s ease;
  }

  &:hover {
    > img {
      transform: scale(1.7);
      transition: ease 0.4s;
    }
  }
}

#izquierda,
#derecha {
  background-image: linear-gradient(#532cdf 10%, #4012e6, #532cdf 40%);
}

#izquierda .bg-lados,
#derecha .bg-lados {
  background: #5856bb52;
}

.bg-img {
  background-image: linear-gradient(#6a68e4 0%, #4012e698 30%, #6a68e4 100%);
  background-repeat: no-repeat;
}

#poderes_j > img,
#poderes_ex > img {
  cursor: pointer;
}

.bg-bord {
  background-image: radial-gradient(
    circle 382px at 50% 50.2%,
    #6a68e4 0.1%,
    #4012e666 100.2%
  );
}

#poderes_j .bg-bord,
#poderes_ex .bg-bord {
  &:hover {
    background-image: radial-gradient(
      circle 382px at 50% 50.2%,
      #6a68e4 0.1%,
      #3700ff 100.2%
    );
    background-repeat: no-repeat;
  }
}

.bg-bord-in {
  height: 4.25rem;
  background: transparent !important;
  border: 2px solid transparent !important;
}

.bord-btn {
  border: 2px solid #4012e68c;
}

.bg-bord-btn {
  background: #714eec66;

  &:hover {
    background: #4012e68c;
    box-shadow: 0 0 5px #4012e68c;
    transition: all ease 0.1s;
  }
}

.my-bord {
  border: 2px solid #4012e6;
  transition: all ease 0.1s;
}

.my-bord-logo {
  border: 2px solid #4012e6;
  box-shadow: inset 0 0 15px #fff, 0 0 5px #4012e6;
  transition: all ease 0.1s;
}

.my-btn {
  &:active {
    border: 2px solid #eee;
    box-shadow: 0 0 3px inset #eee, 0 0 3px #eee;
    transition: all ease 0.1s;
  }
}

.fs-7 {
  font-size: 0.75rem;
  line-height: 1;
}

.ver {
  font-size: 1.5rem;
  font-weight: bolder;
}

.no-ver {
  font-weight: bolder;
  font-size: 1.5rem;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: vision 1s ease-in-out both;
}

.my-bord.parpadeo {
  background-image: radial-gradient(#f3f0f0c7 15%, #f1eeee);
  color: #4012e6;
  animation: vision 1s ease-in-out 3;
}

@keyframes vision {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes zoom-imgs {
  0% {
    scale: 0;
    transform: scale(0);
    transition: all 0.3s;
  }

  100% {
    transform: scale(1.5);
    scale: 1.5;
  }
}
